body
{
    font-family: 'Oswald', sans-serif;
}


/*---------------------------------------------*/
/* TOP SECTION */


.top-section
{
    background-image: url(./images/coverimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
    
}

.top-section-div
{
    padding: 200px 100px;
}




.top-section-div
{
    text-align: center;
    padding-top: 250px;
}



.top-section h1
{
    font-size: 4vw;
    color: rgb(251, 226, 187);
    
}

.top-section p
{
    color: azure;
    
}

.donate-now-button-top
{   
    background-image: linear-gradient(orange,red);
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    
}


/*---------------------------------------------*/
/* Donate-Today-Section */


.donate-today-section
{
    text-align: center;
}


.donate-amount-parent-div
{
    display: flex;
    text-align: center;
    margin: 30px;

    
}

.donate-div
{
    width: 20%;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}





/*---------------------------------------------*/

/* Donate Button Section */

.donate-button-section
{
    text-align: center;

}


.donate-now-button-middle
{
    background-image: linear-gradient(rgb(255, 0, 8),tomato);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}

/*---------------------------------------------*/

/* donation-Plan-About-Section" */


.donation-plan-about-section
{
    text-align: center;

}



/*---------------------------------------------*/

/* donation-plan-Box-Section */

.donation-plan-box-section
{
    display: flex;
    margin: 40px 200px;
}


.donation-plan-1-div
{
    background-color: rgba(79, 157, 166, 0.1);
    width: 33.33;
    margin: 10px;

}

.donation-plan-2-div
{
    background-color: rgba(255, 89, 89, 0.1);
    width: 33.33;
    margin: 10px;
}


.donation-plan-3-div
{
   background-color: rgba(255, 244, 214, 1);
   width: 33.33;
   margin: 10px;
}






/*---------------------------------------------*/


/* Section how We Contribute */
.how-we-contribute-parent-div
{
    display: flex;
}



.how-we-contribute-child-right-div img
{
    width: 50vw;
}


.how-we-contribute-button
{
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
}




/* Experiment */




/* Get My updates Section + Email Subscription Form  */

.get-my-update-section
{   
    
    text-align: center;
    padding: 5% 20%;
    
}


.form-for-email-subscription
{
    background-color: #FFF4D6;
    padding: 40px 50px;
}














/* Footer Section */
footer
{
    background-color: black;
    height: 100px;
    text-align: center;
}


footer h2
{
    color: white;
    

}


footer p
{
    color: white;

}