/* Global Declaration */
*{margin:0;
    padding:0;
    }



body
{
    font-family: 'Newsreader', serif;

}

body h1
{
    font-size: 3.5vw;
}

body h2
{
    font-size: 2.2vw;
}

body p
{   
    font-family: 'News Cycle', sans-serif;
    font-size: 1.7vw;
    padding-top:10px ;
}


#heading
{
    font-size: 80px;
    
}


hr
{
    margin: 20px 200px;
    color: rgba(188, 183, 183, 0.252);

}
/* Global Declaration */





/* TOP SECTION BANNER */

.top-section
{
    background-image: url(./images/coverimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.top-section-div
{

    text-align: center;
    padding: 30px;

}


.top-section h1
{
    font-size: 4vw;
    color: rgba(224, 220, 215, 0.949);
    margin: 2% 20%;
    
}

.top-section p
{
    color: white;
    margin: 2% 20%;
    font-weight: bold;
    
    
}

.donate-now-button-top
{   
    background-image: linear-gradient(orange,red);
    font-size: 1.4vw;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    
}
/* TOP SECTION BANNER */







/* Donate-Today-Section */
.donate-today-section
{
    text-align: center;
    margin-top: 10%;
    margin: 2% 30%;
    
   
}


/* Donate-Today-Section */





/* Donate Today Donation Amount Section*/
.donate-amount-parent-div
{
    display: flex;

  
    margin: 10px;

    text-align: center;
    height: 11vw;
    margin: 5% 20% ;


    
     
}

.donate-amount-parent-div h1
{
    padding-top: 3.5vw;
    padding-left: 2px;
    padding-right: 2px;
}





.donate-div-amount
{
    width: 20%;

    background-color: rgba(250, 250, 250, 1);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom:10px;
}


#div-200tk
{   
    
    border: 2px solid rgb(255, 89, 89);
    background-color: rgba(255, 89, 89, 0.223);
    
}

.donate-div-amount h1
{
    font-size: 3vw;
    font-weight: 500;
}
/* Donate Today Donation Amount Section*/








/* Donate Amount + Button Section */
#donate-amount-input-id
{
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.4vw;
    padding: 1vw;
}

.donate-button-section
{
    text-align: center;

}

.donate-now-button-middle
{
    background-image: linear-gradient(orange,red);
    font-size: 1.4vw;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
}
/* Donate Amount + Button Section */



/* donation-Plan-About-Section" */
.donation-plan-about-section
{
    text-align: center;
    margin-top:40px ;

}

.donation-plan-about-section p
{
    margin: 2% 30%;
}
/* donation-Plan-About-Section" */






/* donation-plan-Box-Section */
.donation-plan-card-section
{
    display: flex;
    margin-top:50px;
    padding: 20px;
    padding-right: 20px;
    margin-left:5%;
    margin-right:5%;
    padding-bottom: 100px;


}

.donation-plan-card-section h2
{
    padding-top: 20px;
}


#donation-plan-icon
{
    height: 3.2vw;
    
}



.donation-card-1st-div
{
    background-color: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    margin: 10px;

}



.donation-card-2nd-div
{
    background-color: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    margin: 10px;
}


.donation-card-3rd-div
{
   background-color: rgba(255, 244, 214, 1);
   border-radius: 5px;
   padding: 20px;
   width: 30%;
   margin: 10px;
}
/* donation-plan-Box-Section */








/* Section how We Contribute */
.how-we-contribute-parent-div
{
    display: flex;
    margin: 5% 10%;
    
}


.how-we-contribute-child-left-div
{
    padding-right:10px;

}


.how-we-contribute-child-left-div p
{
    padding-right:20px;
    padding-bottom: 40px;


}

.how-we-contribute-button
{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    font-size: 1.4vw;
}

.how-we-contribute-child-right-div img
{
    width: 40vw;
    height: 30vw;
    border-radius: 10px;
}
/* Section how We Contribute */





/* Get My updates Section + Email Subscription Form  */
.get-my-update-section
{   
    margin-top:50px ;
    text-align: center;
    padding: 5% 20%;
    
    
}

.get-my-update-section-div
{
    padding: 1px 50px;

}

.get-my-update-section-div p
{
    padding-bottom: 35px;
    margin: 1% 10%;
}


.form-for-email-subscription
{
    background-color: #FFF4D6;
    padding: 40px 50px;
}

#input-email
{   
    border: none;
    outline: none;
    padding: 0.5vw 1vw;
    background-color:aliceblue;
    font-size: 1.4vw;

}

#subscribe-button
{
    border: none;
    background-image: linear-gradient(orange,tomato);
    padding: 0.5vw 1vw;
    font-size: 1.4vw;
}
/* Get My updates Section + Email Subscription Form  */






/* Footer Section */
footer
{
    background-color: black;
    height: 100px;
    text-align: center;
}


footer h2
{
    color: white;
    
    padding-top:15px ;
    font-size: 30px;
    

}

footer p
{
    color: white;
    font-weight: 100;
    font-size: 20px;


}
/* Footer Section */